<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	
	<!--
		define the SqlSessionFactory, notice that configLocation is not needed
		when you use MapperFactoryBean
	-->
	<bean id="questionnaire_sqlSessionFactory" class="com.nis.mybatis.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis-config.xml" />
		<property name="dataSource" ref="dataSource" />
		<property name="dialectManager" ref="dialectManager" />
		<property name="typeAliasesPackage" value="com.nis.questionnaire.entity;com.nis.questions.entity"/>
		<property name="mapperLocations">
			<list>
				<value>classpath*:com/nis/questionnaire/dao/*.xml</value>
				<value>classpath*:com/nis/questionnaire/dao/specific/mysql/*.xml</value>
				<value>classpath*:com/nis/questionnaire/dao/specific/oracle/*.xml</value>
				<value>classpath*:com/nis/questions/dao/*.xml</value>
				<value>classpath*:com/nis/questions/dao/specific/mysql/*.xml</value>
				<value>classpath*:com/nis/questions/dao/specific/oracle/*.xml</value>
				<value>classpath*:ibatis/mapper/*Mapper.xml</value>
			</list>
		</property>
	</bean>

	<!-- scan for mappers and let them be autowired -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.nis.questionnaire.dao;com.nis.questions.dao"></property>
		<property name="sqlSessionFactory" ref="questionnaire_sqlSessionFactory"></property>
	</bean>
</beans>